<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../css/reset.css" />
		<style>
			h1 {
				width: 100px;
				margin: auto;
				font-size: 40px;
				line-height: 100px;
			}
			ul {
				width: 1020px;
				margin: 50px auto;
			}
			ul > li {
				width: 200px;
				height: 350px;
				text-align: center;
				background-color: aqua;
				float: left;
				margin: 2px;
			}
			.img {
				width: 200px;
				height: 200px;
				overflow: hidden;
			}
			.img img {
				width: 200px;
			}
			li > span,
			li > .password {
				line-height: 30px;
			}
			.btnAll {
				margin-top: 20px;
			}
		</style>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.bundle.js"></script>
	</head>
	<body>
		<h1>首页</h1>
		<ul class="userList">
			<!-- <li>
				<span>用户名</span>
				<div class="password">用户密码</div>
				<div class="img">
					<img src="../images/nana.jpeg" alt="" />
				</div>
				<div class="btnAll">
					<a href="" class="btn btn-outline-primary">详情</a>
					<a href="" class="btn btn-outline-primary">修改</a>
					<button onclick="del()" class="btn btn-outline-danger">删除</button>
				</div>
			</li> -->
		</ul>

		<script>
			loadUsers();
			// 展示用户列表
			function loadUsers() {
				$.ajax({
					url: "http://localhost:8888/users",
					success: (res) => {
						console.log(res);
						if (res.code == 200) {
							let usersArr = res.users;
							let str = "";
							// 客户端渲染的
							// <a href="/detail?id=${usersArr[i]._id}" class="btn btn-outline-primary">详情</a>
							// 服务端渲染的
							// <a href="/detail/${usersArr[i]._id}" class="btn btn-outline-primary">详情</a>
							for (let i = 0; i < usersArr.length; i++) {
								str += `<li>
							<span>${usersArr[i].username}</span>
							<div class="password">${usersArr[i].password}</div>
							<div class="img">
								<img src="${usersArr[i].imgurl}" alt="" />
							</div>
							<div class="btnAll">
								<a href="/detail?id=${usersArr[i]._id}" class="btn btn-outline-primary">详情</a>
							<a href="/updataUser?id=${usersArr[i]._id}" class="btn btn-outline-primary">修改</a>
							<button onclick="del('${usersArr[i]._id}')" class="btn btn-outline-danger">删除</button>
							</div>
						</li>`;
							}
							$(".userList").html(str);
						}
					},
				});
			}

			// 删除用户 这里使用delete的方法(restful--》api)
			function del(id) {
				console.log(id);
				// ajax中没有delete方法。$.delete方法
				$.ajax({
					url: `/deleteuser/${id}`,
					type: "delete",
					success: (res) => {
						console.log(res);
						alert(res.msg);
						if (res.code == 200) {
							loadUsers();
						}
					},
				});
			}
		</script>
	</body>
</html>
